.side_bar

  .side_bar__name
    .side_bar__name__box
      .side_bar__name__box__user
        = current_user.name
      .side_bar__name__box__icon
      %ul.Icon-list
        %li
          = link_to new_group_path do
            = icon('far', 'edit',  class: "Icon-list__Icon")
        %li
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog',  class: "Icon-list__gear")
  .side_bar__bottom 
    - current_user.groups.each do |group|
      .side_bar__bottom__group
        = link_to '#' , class: "side_bar__bottom__group" do
          .side_bar__bottom__group__name 
            = group.name
          .side_bar__bottom__group__message
            メッセージはまだありません